body , html{
    height:100%;
    margin: 0px;
    font-family:  Arial, Helvetica, sans-serif;

}

.image{
    background-color: #1d1d20;
    height: 100%;
    
}
.text-intro{
    text-align: center;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color:white;
    position:absolute;
}
.about img {
    display: block;
    margin: 0 auto;
  }
  .projects{
    color: grey;
    padding-bottom:5%;
  }

  .projects h3{
    text-align: center;
    color: grey;
  }
  .projects img{
    display: block;
margin-left: auto;
margin-right: auto;

  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: maroon;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }